/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* White text color */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #333; /* Darker container background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff; /* White text color */
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #333; /* Darker select background */
    color: #fff; /* White text color */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recommended-item {
    margin: 10px;
    text-align: center;
}

.recommended-item p {
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff; /* White text color */
}

.recommended-item img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
